@charset "utf-8";
/**
 * 设置提现账户
 *
 * author: Storm
 * date: 2017/05/02
 */

.withdraw-account {
  line-height: 1;
  padding: .27rem .24rem;
  color: #999;
}

.countdown {
  display: block;
  padding: .24rem;
}
